{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block title %}Contact{% endblock %}

{% block content %}
<form action="{% pageurl page %}" method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-field-container">
      {{ field.errors }}
      {{ field.label_tag }}
      {{ field }}
    </p>
  </div>
  {% endfor %}
  <div class="submit-container">
    <input type="submit" value="submit" class="primary-button">
  </div>
</form>
{% endblock %}
