.form-field-container {
  display: flex;
  flex-direction: column;
}

.form-field-container label {
  padding: 7px;  
}

.form-field-container input {
  height: 40px;
  border-radius: 2px;
  padding: 0 20px;
  font-size: 17px;
  border: 1px solid #CFCFCF;
  &:focus {
    border: 1px solid $kiwi;
  }
}

.form-field-container textarea {
  padding: 20px 20px;
  border-radius: 2px;
  border: 1px solid #CFCFCF;
  &:focus {
    border: 1px solid $kiwi;
  }
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  .primary-button {
    cursor: pointer;
    text-transform: uppercase;
    background-color: white;
    height: 48px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 15px;
    font-spacing: 0.6px;
    color: #333;
    border-style: none;
    outline-style: none;
    min-width: 144px;
    border: 1px solid $border-color;
    &:hover {
      border-color: $kiwi;
    }
    &:active {
      background-color: $kiwi;
      color: white;
      opacity: 0.4;
    }
  }
}

textarea {
  resize: none;
}
