@import "variables";

.grid-container {
  display: grid;
  grid-template-areas: "nav" "header" "content-wrapper";
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 50em;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  grid-area: content-wrapper;
}

