@import '_variables';
@import '_grid';
@import '_forms';
@import '_normalize';

* {
  box-sizing: border-box;
}

body {
  // margin: 0 auto;
  // max-width: 50em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  line-height: 1.05em;
  // border-bottom: 2px solid #333;
  padding-bottom: 20px;
  font-weight: 800;
}
h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: 700;
}

p {
  font-size: 1em;
}

footer {
  display: flex;
  border-top: 1px solid $border-color;
  margin-top: 24px;
  padding-top: 24px;
  width: 100%;
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 24px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px;
    .social-link {
      flex: 1;
      border: 1px solid $border-color;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      color: #333;
      &:hover {
        border-color: $kiwi;
        color: $kiwi;
      }
    }
  }
}

.home-content {
  display: flex;
}

